$purple-color: #71607c;
$divider-gray: #474646;
$subtitle-gray: #a5a5a5;

.footer {
  color: $purple-color;
  background: url("../assets/top\ bg.png") 100% 100% no-repeat;
  &-wrapper {
    padding: 5% 10%;
  }
  &-website-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &-menu__item {
    list-style-type: none;
    display: block;
    padding-right: 5%;
    &-link {
      text-decoration: none;
      color: $purple-color;
    }
  }
  &-divider {
    height: 2px;
    width: 100%;
    background-color: $divider-gray;
  }
  &-links {
    display: flex;
    padding: 5% 0;
    &-item {
      display: flex;
      flex-basis: 25%;
    }
  }
  &-list {
    width: 100%;
  }
}

.footer-content-item {
  justify-content: space-around;
  padding: 10% 0;
  &__subtitle {
    margin-top: 15px;
    color: $subtitle-gray;
  }
  &-link {
    text-decoration: none;
    color: $subtitle-gray;
  }
}

.social-networks {
  justify-self: space-between;
  &-item {
    padding-right: 2%;
  }
}

@media (max-width: 1000px) {
  .footer-website-info {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-content-item {
    text-align: center;
  }
  .footer-links {
    justify-content: space-around;
  }
  .footer-links-item {
    flex-basis: 20%;
    justify-content: space-between;
  }
  .footer-menu {
    margin-left: -8%;
  }
}

@media (max-width: 550px) {
  .footer-website-info {
    grid-template-columns: 1fr;
  }
  .footer-content-item {
    justify-self: center;
  }
  .footer-links {
    justify-self: stretch;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer-links-item {
    padding-bottom: 10%;
    align-self: stretch;
    justify-content: space-around;
    flex-basis: 75%;
  }
  .footer-menu {
    margin: 0;
    padding-left: 1%;
  }
}
