$gray: #383838;
$logo-color: #b297c4;
$white: #fff;
$background-container: #f0f0f0;
$herobtn-color: #f6e2d1;
$herobtn-color-bg: #eab88f;
$chevron-left-color: #b33a47;
$chevron-right-color: #f0af76;

.hero-wrap {
  padding: 5% 10% 0 10%;
}

.hero-img-wrap {
  padding: 2% 2% 0 2%;
  background-color: #fff;
}

.hero {
  background-size: contain;
  background: url("../assets/Layer\ 1.png") center center no-repeat;
}

.wrapper {
  padding-top: 3%;
  background: url("../assets/top\ bg.png") center center no-repeat;
  height: 100%;
  background-size: cover;
}
.container {
  background-color: $gray;
  padding: 0 10%;
  display: flex;
  height: 100%;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-logo {
  font-size: 44px;
  height: 100%;
  background-color: $logo-color;
  color: $white;
  padding: 1% 1%;
  text-transform: uppercase;
}

.header-menu-item {
  height: 100%;
  padding-right: 10px;
  &:last-child {
    margin-right: -10px;
  }
}
.header-menu-wrap {
  height: 100%;
  display: flex;
  list-style-type: none;
  padding: 2% 0 2% 0;
}

.header-menu-link {
  height: 100%;
  display: inline-block;
  text-transform: uppercase;
  color: $white;
  background: $gray;
  text-decoration: none;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $herobtn-color;
  opacity: 0.6;
}

.hero__image {
  margin-bottom: 45px;
  font-size: 100px;
}

.hero__title {
  margin-bottom: 30px;
  font-size: 64px;
  text-transform: uppercase;
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

.hero__subtitle {
  font-size: 22px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.hero__button {
  font-size: 18px;
  padding: 0.8% 1%;
  text-transform: uppercase;
  border: none;
  outline: none;
  border: 1px solid $herobtn-color;
  border-radius: 8px;
  color: $herobtn-color;
  background-color: $herobtn-color-bg;
  margin-bottom: 60px;
}

.chevron {
  background-color: $white;
  opacity: 0.6;
  text-align: center;
  &-left {
    color: $chevron-left-color;
  }
  &-right {
    color: $chevron-right-color;
  }
}

.hamburger {
  color: $white;
  display: none;
  font-size: 25px;
}
