$gray: #383838;
$logo-color: #b297c4;
$white: #fff;
$background-container: #f0f0f0;
$herobtn-color: #f6e2d1;
$herobtn-color-bg: #eab88f;
$chevron-left-color: #b33a47;
$chevron-right-color: #f0af76;
$active-color: #2a2a2a;

.hero-wrap {
  padding: 5% 10% 0 10%;
}

.hero-img-wrap {
  padding: 2% 2% 0 2%;
  background-color: #fff;
}

.hero {
  // background-size: cover;
  background: url("../assets/Layer\ 1.png") center center no-repeat;
}

.wrapper {
  padding-top: 3%;
  background: url("../assets/top\ bg.png") center center no-repeat;
  height: 100%;
  background-size: cover;
}
.container {
  background-color: $gray;
  padding: 0 10%;
  display: flex;
  height: 100%;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 44px;
  height: 150%;
  background-color: $logo-color;
  color: $white;
  padding: 1% 1%;
  text-transform: uppercase;
}

.header-menu-item {
  height: 50px;
  padding: 10px 20px;
  border-right: 1px solid #292929;
  border-left: 1px solid #292929;
  &:last-child {
    margin-right: -10px;
  }
}
.header-menu-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 2% 0 2% 0;
}

.header-menu-link {
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: $white;
  background: $gray;
  text-decoration: none;
}

.header-menu-link--active {
  background-color: $active-color;
  color: $logo-color;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $herobtn-color;
  opacity: 0.6;
}

.hero__image {
  margin-bottom: 45px;
  font-size: 100px;
}

.hero__title {
  margin-bottom: 30px;
  font-size: 64px;
  text-transform: uppercase;
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
}

.hero__subtitle {
  font-size: 22px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.hero__button {
  font-size: 18px;
  padding: 13px 15px;
  text-transform: uppercase;
  outline: none;
  border: 3px solid $herobtn-color;
  border-radius: 8px;
  color: $herobtn-color;
  background-color: $herobtn-color-bg;
  margin-bottom: 60px;
}

.chevron {
  background-color: $white;
  text-align: center;
  opacity: 1;
  height: 47px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  &-left {
    color: $chevron-left-color;
    padding-right: 4px;
  }
  &-right {
    color: $chevron-right-color;
    padding-left: 4px;
  }
}

.hamburger {
  color: $white;
  display: none;
  font-size: 25px;
}

@media (max-width: 940px) {
  .hero__title {
    font-size: 50px;
  }
}

@media (max-width: 745px) {
  .hero {
    &__title {
      font-size: 30px;
    }
    &__subtitle {
      font-size: 18px;
    }
    &__button {
      font-size: 14px;
    }
  }
}
