.hero-wrap {
  padding: 5% 10% 0 10%;
}

.hero-img-wrap {
  padding: 2% 2% 0 2%;
  background-color: #fff;
}

.hero {
  background: url("../assets/Layer 1.png") center center no-repeat;
}

.wrapper {
  padding-top: 3%;
  background: url("../assets/top bg.png") center center no-repeat;
  height: 100%;
  background-size: cover;
}

.container {
  background-color: #383838;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 44px;
  height: 150%;
  background-color: #b297c4;
  color: #fff;
  padding: 1% 1%;
  text-transform: uppercase;
}

.header-menu-item {
  height: 50px;
  padding: 10px 20px;
  border-right: 1px solid #292929;
  border-left: 1px solid #292929;
}

.header-menu-item:last-child {
  margin-right: -10px;
}

.header-menu-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 2% 0 2% 0;
}

.header-menu-link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #fff;
  background: #383838;
  text-decoration: none;
}

.header-menu-link--active {
  background-color: #2a2a2a;
  color: #b297c4;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #f6e2d1;
  opacity: 0.6;
}

.hero__image {
  margin-bottom: 45px;
  font-size: 100px;
}

.hero__title {
  margin-bottom: 30px;
  font-size: 64px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__subtitle {
  font-size: 22px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.hero__button {
  font-size: 18px;
  padding: 0.8% 1%;
  text-transform: uppercase;
  border: none;
  outline: none;
  border: 1px solid #f6e2d1;
  border-radius: 8px;
  color: #f6e2d1;
  background-color: #eab88f;
  margin-bottom: 60px;
}

.chevron {
  background-color: #fff;
  opacity: 0.6;
  text-align: center;
  height: 50%;
}

.chevron-left {
  color: #b33a47;
}

.chevron-right {
  color: #f0af76;
}

.hamburger {
  color: #fff;
  display: none;
  font-size: 25px;
}

@media (max-width: 940px) {
  .hero__title {
    font-size: 50px;
  }
}

@media (max-width: 745px) {
  .hero__title {
    font-size: 30px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .hero__button {
    font-size: 14px;
  }
}

.main-content-wrapper {
  padding: 0 10% 10% 10%;
}

.main-content {
  background-color: #f0f0f0;
  color: #747474;
}

.main-content-search {
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content-search__icon {
  padding: 3% 10px 3% 0;
  font-size: 12px;
  color: #b297c4;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f0f0f0;
}

.main-content-search-form {
  width: 100%;
}

.main-content-search-form__input {
  padding: 3% 0;
  width: 100%;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  outline: none;
  background-color: #f0f0f0;
}

.main-content-divider {
  width: 100%;
  height: 0.5px;
  background-color: #f0f0f0;
}

.main-content-menu {
  padding: 4% 0;
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content-menu__item {
  padding: 2% 0;
  font-size: 12px;
}

.main-content-menu__item-icon {
  color: #b297c4;
  padding-right: 2%;
}

.main-content-features {
  padding: 3% 0;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content-feature {
  text-align: center;
}

.main-content-feature__icon {
  margin-bottom: 20px;
}

.main-content-feature__title {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.main-content-feature__subtitle {
  text-decoration: underline;
}

.main-content-item {
  background-color: #fff;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content-item-wrapper {
  -ms-flex-preferred-size: 92%;
      flex-basis: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 10% 10%;
}

.main-content-item-wrapper > div {
  padding-top: 12%;
}

.main-content-item-icons-wrapper {
  padding-bottom: 10%;
}

.main-content-item__title {
  text-transform: uppercase;
  padding-bottom: 5%;
  line-height: 25px;
}

.main-content-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content-item__subtitle {
  line-height: 25px;
}

.main-content-item__subtitle-1, .main-content-item__subtitle-2 {
  line-height: 25px;
}

.main-content-item-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content-item-sign__img {
  border-radius: 10%;
  padding: 5% 10%;
  margin-right: 17px;
  background-color: #b297c4;
}

.main-content-item-sign-maintenance {
  font-style: 12px;
}

.main-content-item-sign-maintenance__title {
  text-transform: uppercase;
  color: #b297c4;
  margin-bottom: 3%;
}

.main-content-item-sign-maintenance__subtitle {
  text-decoration: underline;
}

.main-content-item-8, .main-content-item-9, .main-content-item-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding: 5%;
}

.main-content-item-8__title, .main-content-item-9__title, .main-content-item-10__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.main-content-item-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-content-item__img-item {
  padding: 6%;
}

.main-content-items {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-content-btn {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.main-content-feature__icon-content {
  width: 100%;
}

.main-content-btn-link {
  display: block;
  text-transform: uppercase;
  width: 100%;
  padding: 5% 10%;
  text-decoration: none;
  color: #fff;
  background-color: #b297c4;
}

.fa-arrow-right {
  padding-left: 3%;
}

.main-content-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 4 / 2;
}

.main-content-item-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
}

.main-content-item-6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 4 / 4;
}

.main-content-item-6__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1%;
  -ms-grid-row-align: center;
      align-self: center;
}

.main-content-item-8 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content-item-9 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
  padding: 5%;
  display: block;
}

.main-content-item-2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 6 / 2;
}

.main-content-item-4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 5 / 3;
}

.main-content-item-7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4 / 3 / 6 / 4;
}

.main-content-item-10 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 3 / 4 / 5 / 5;
}

.main-content-item-5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 7 / 3;
}

@media (max-width: 1135px) {
  .main-content-items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .main-content-item-6 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 6 / 1 / 8 / 2;
  }
  .main-content-item-7 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 7 / 2 / 8 / 3;
  }
  .main-content-item-8 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 2 / 4;
  }
  .main-content-item-9 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 3 / 4;
  }
  .main-content-item-10 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 3 / 3 / 5 / 4;
  }
}

@media (max-width: 900px) {
  .main-content-features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-content-feature {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 46%;
            flex: 0 0 46%;
  }
  .hero-wrap {
    padding: 10% 10% 0 10%;
  }
  .main-content-items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .main-content-item-3 {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 8 / 1 / 9 / 2;
  }
  .main-content-item-4 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 9 / 1 / 10 / 2;
  }
  .main-content-item-5 {
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 10 / 1 / 11 / 2;
  }
  .main-content-item-7 {
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 11 / 1 / 12 / 2;
  }
  .main-content-item-8 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .main-content-item-9 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  .main-content-item-10 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 5 / 3;
  }
}

@media (max-width: 640px) {
  .main-content-features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-content-feature {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 96%;
            flex: 0 0 96%;
    padding-bottom: 10%;
  }
  .header-menu-wrap {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 18px;
    color: #fff;
    padding-right: 5%;
  }
  .main-content-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content-item {
    margin-bottom: 8%;
  }
  .main-content-item-sign {
    padding: 10% 5%;
  }
  .main-content-menu__item {
    padding: 5% 0;
  }
  .main-content-items {
    margin-bottom: 0;
  }
}

.footer {
  color: #71607c;
  background: url("../assets/top bg.png") 100% 100% no-repeat;
}

.footer-wrapper {
  padding: 5% 10%;
}

.footer-website-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer-menu__item {
  list-style-type: none;
  display: block;
  padding-right: 5%;
}

.footer-menu__item-link {
  text-decoration: none;
  color: #71607c;
}

.footer-divider {
  height: 2px;
  width: 100%;
  background-color: #474646;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 0;
}

.footer-links-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.footer-list {
  width: 100%;
}

.footer-content-item {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10% 0;
}

.footer-content-item__subtitle {
  margin-top: 15px;
  color: #a5a5a5;
}

.footer-content-item-link {
  text-decoration: none;
  color: #a5a5a5;
}

.social-networks {
  -ms-grid-column-align: space-between;
      justify-self: space-between;
}

.social-networks-item {
  padding-right: 2%;
}

@media (max-width: 1000px) {
  .footer-website-info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer-content-item {
    text-align: center;
  }
  .footer-links {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-links-item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-menu {
    margin-left: -8%;
  }
}

@media (max-width: 640px) {
  .footer-wrapper {
    padding: 0 10%;
  }
  .footer-content-item {
    padding: 5% 0;
  }
}

@media (max-width: 550px) {
  .footer-website-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-content-item {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footer-links {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-links-item {
    padding-bottom: 10%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .footer-menu {
    margin: 0;
    padding-left: 1%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
  color: #747474;
}

ul,
li {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */