@import "./header.scss";
@import "./main-section.scss";
@import "./footer.scss";

@mixin Fjalla {
  font-family: "Fjalla One", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  @include Fjalla;
  font-size: 14px;
}
