$main-font-color: #747474;

@mixin Fjalla {
  font-family: "Fjalla One", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  @include Fjalla;
  font-size: 14px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

@import "./header.scss";
@import "./main-section.scss";
@import "./footer.scss";
