$gray: #383838;
$logo-color: #b297c4;
$white: #fff;
$background-container: #f0f0f0;
$herobtn-color: #f6e2d1;
$herobtn-color-bg: #eab88f;

@mixin Fjalla {
    font-family: 'Fjalla One', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    @include Fjalla;
    font-size: 14px;
}

.bg {
    background: url('../assets/top\ bg.png') center center no-repeat;
    height: 100%;
    background-size: cover;
}

.hero {
    padding: 100px 0;
    background-size: contain;
    background: url('../assets/Layer\ 1.png') center center no-repeat;
}

.wrapper {
    padding-top: 3%;
    padding-bottom: 25%;
}
.container {
    background-color: $gray;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 10%;
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    position: relative;
}

.header__logo {
    font-size: 44px;
    height: 100%;
    background-color: $logo-color;
    color: $white;
    padding: 1% 1%;
    text-transform: uppercase;
}
.menu__wrapper {
    display: flex;
    list-style-type: none;
    justify-items: flex-end;
    padding-left: 40%;
}

.menu__link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    background: $gray;
    border: 0;
    border-right: 1px solid #000;
}
.menu__link:first-child {
    border-left: 1px solid #000;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $herobtn-color;
}

.hero__image {
    margin-bottom: 45px;
    font-size: 100px;
}

.hero__title {
    margin-bottom: 30px;
    font-size: 64px;
    text-transform: uppercase;
}

.hero__subtitle {
    font-size: 22px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.hero__button {
    font-size: 18px;
    padding: 1% 2%;
    text-transform: uppercase;
    border: none;
    outline: none;
    border: 1px solid $herobtn-color;
    border-radius: 1px;
    color:$herobtn-color;
    background-color: $herobtn-color-bg;
    margin-bottom: 60px;
}

@media (max-width: 595px) {
    .hero__title {
        font-size: 38px;
    }
}