$purple-color: #b297c4;
$main-bg-color: #f0f0f0;
$main-font-color: #747474;
$white: #fff;

.main-content-wrapper {
  padding: 5% 10%;
}

.main-content {
  background-color: $main-bg-color;
  color: $main-font-color;
  &-search {
    width: 100%;
    display: flex;

    &__icon {
      color: $purple-color;
      border: none;
      background-color: $main-bg-color;
    }
    &-form {
      width: 80%;
      &__input {
        border: none;
        background-color: $main-bg-color;
      }
    }
  }
  &-divider {
    width: 100%;
    height: 0.5px;
    background-color: $main-bg-color;
  }
  &-menu {
    padding: 4% 0;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__item {
      padding: 2% 0;
      font-size: 12px;
      &-icon {
        color: $purple-color;
        padding-right: 2%;
      }
    }
  }
}

.main-content-item {
  background-color: $white;
  display: flex;
  padding: 5%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  &__title {
    text-transform: uppercase;
    padding-bottom: 5%;
  }
  &__img {
    margin: 20px 0;
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &-sign {
    display: flex;
    &__img {
      border-radius: 10%;
      padding: 5% 10%;
      margin-right: 17px;
      background-color: $purple-color;
    }
    &-maintenance {
      font-style: 12px;
      &__title {
        text-transform: uppercase;
        color: $purple-color;
      }
      &__subtitle {
        text-decoration: underline;
      }
    }
  }
  &-8,
  &-9,
  &-10 {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
  &-icons-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-content: space-around;
  }
}

.main-content-items {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-content-btn {
  align-self: stretch;
}

.main-content-btn-link {
  display: block;
  width: 100%;
  padding: 5% 0 5% 2%;
  text-decoration: none;
  color: $white;
  background-color: $purple-color;
}

.main-content-item-1 {
  grid-area: 1 / 1 / 4 / 2;
}

.main-content-item-3 {
  grid-area: 1 / 2 / 3 / 3;
}

.main-content-item-6 {
  grid-area: 1 / 3 / 4 / 4;
}
.main-content-item-8 {
  grid-area: 1 / 4 / 2 / 5;
}

.main-content-item-9 {
  grid-area: 2 / 4 / 3 / 5;
  padding: 5%;
  display: block;
}

.main-content-item-2 {
  grid-area: 4 / 1 / 6 / 2;
}

.main-content-item-4 {
  grid-area: 3 / 2 / 5 / 3;
}

.main-content-item-7 {
  grid-area: 4 / 3 / 6 / 4;
}

.main-content-item-10 {
  grid-area: 3 / 4 / 5 / 5;
}

.main-content-item-5 {
  grid-area: 5 / 2 / 7 / 3;
}
