.main-content-wrapper {
  padding: 5% 10%;
}

.main-content {
  background-color: #f0f0f0;
  color: #747474;
}

.main-content-search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content-search__icon {
  color: #b297c4;
  border: none;
  background-color: #f0f0f0;
}

.main-content-search-form {
  width: 80%;
}

.main-content-search-form__input {
  border: none;
  background-color: #f0f0f0;
}

.main-content-divider {
  width: 100%;
  height: 0.5px;
  background-color: #f0f0f0;
}

.main-content-menu {
  padding: 4% 0;
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content-menu__item {
  padding: 2% 0;
  font-size: 12px;
}

.main-content-menu__item-icon {
  color: #b297c4;
  padding-right: 2%;
}

.main-content-item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content-item__title {
  text-transform: uppercase;
  padding-bottom: 5%;
}

.main-content-item__img {
  margin: 20px 0;
}

.main-content-item__subtitle {
  margin-bottom: 20px;
}

.main-content-item-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content-item-sign__img {
  border-radius: 10%;
  padding: 5% 10%;
  margin-right: 17px;
  background-color: #b297c4;
}

.main-content-item-sign-maintenance {
  font-style: 12px;
}

.main-content-item-sign-maintenance__title {
  text-transform: uppercase;
  color: #b297c4;
}

.main-content-item-sign-maintenance__subtitle {
  text-decoration: underline;
}

.main-content-item-8, .main-content-item-9, .main-content-item-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.main-content-item-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-content-items {
  display: -ms-grid;
  display: grid;
  grid-gap: 1%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-content-btn {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.main-content-btn-link {
  display: block;
  width: 100%;
  padding: 5% 0 5% 2%;
  text-decoration: none;
  color: #fff;
  background-color: #b297c4;
}

.main-content-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 4 / 2;
}

.main-content-item-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
}

.main-content-item-6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 4 / 4;
}

.main-content-item-8 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
}

.main-content-item-9 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 2 / 4 / 3 / 5;
  padding: 5%;
  display: block;
}

.main-content-item-2 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 6 / 2;
}

.main-content-item-4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 5 / 3;
}

.main-content-item-7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4 / 3 / 6 / 4;
}

.main-content-item-10 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 3 / 4 / 5 / 5;
}

.main-content-item-5 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 7 / 3;
}
/*# sourceMappingURL=main-section.css.map */